{% extends 'master/base.html' %}
<!-- title -->
{% block title %}edit-lession-type{% endblock title %}

<!-- body -->
{% block body %}
<div class="text">
    <a class="text-center text-primary" href="{% url 'masteruser:profile' %}"> profile</a>
</div>
<div class="edit-content">
    <section class="edit-form">
        <form action="{% url 'masteruser:edit_lession' lession.id %}" method="POST">
            {% csrf_token %}
            <!--  -->
            {{form.media}}
            <!--  -->
            {{form.as_p}}
            <input class="btn btn-primary col-12 col-lg-2" type="submit" value="Save Changes" />
        </form>
    </section>
</div>

<!--  -->
{% endblock body %}